- content_for :javascripts do

  :javascript

    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 90; // Calculate the top offset

      $('#map').css('height', (h - offsetTop));
    }).resize();

    LeafletLib.initialize(
      $("#map")[0],
      { },
      [ 41.8781136, -87.66677956445312 ],
      11
    );

    var openMarker = function(marker, photo){
      var popup_timeout;
      var popup_exited = false;

      marker.on('mouseout', function(e){
        popup_exited = true;
        window.clearTimeout(popup_timeout);
        popup_timeout = window.setTimeout(function(){
          if(popup_exited){
            popup_exited = false;
            LeafletLib.map.closePopup();
          }
        }, 500);
      });
      $(".leaflet-popup").on("mouseover", function(e){
        popup_exited = false;
      });
      $(".leaflet-popup").on("mouseout", function(e){
        popup_exited = true;
        window.clearTimeout(popup_timeout);
        popup_timeout = window.setTimeout(function(){
          if(popup_exited){
            popup_exited = false;
            LeafletLib.map.closePopup();
          }
        }, 500);
      });
    };

    var photos = #{@mapped_photos};

    for(var photo in photos){
      // lat/lng location exists. map it
      var m = new L.CircleMarker(
        new L.LatLng( photos[photo].latitude * 1.0, photos[photo].longitude * 1.0 ),
        {
          color: $(".#{@category.tag}").css("background-color"),
          weight: 3,
          fillOpacity: 0.7,
          opacity: 0.7
        }
      );

      LeafletLib.enableMarker(m, photos[photo]);
      LeafletLib.addMarker( m );
    }

    LeafletLib.fitFeatures();

.row-fluid
  .span5
    %h2 
      #{@category.name}
      %small{ :class => "badge #{@category.tag}" } ##{@category.tag}

    .row-fluid
      .span6
        %p #{raw @category.description}
      .span6
        %img.category-photo{:src => "/assets/#{@category.tag}.png", :title => @category.tag, :alt => @category.tag}

    .row-fluid
      .span12
        %h3 Recent photos
        %ul.thumbnails
          - @category_photos[0..2].each_with_index do |photo, index|
            %li.span4.text-center
              %img.img-polaroid{ :src => photo.image_url }
              %br
              %span.badge 
                - if photo.score == 1
                  #{photo.score} point
                - else
                  #{photo.score} points
              
              %a{:href => "/category/#{photo.tag}"}
                %span{:class => "badge #{photo.tag}"} ##{photo.tag}
              %p
                = photo.caption
    

  .span7
    #map

%br
%br