%h1 Leaderboard
%hr

%p 
  %a{:href => "/scoring"} Check out how scoring works.

.row
  - @users.each do |user|
    .span2
      %h3
        %a{ :href => "/user/#{user.username}" } #{user.username}
        - if user.score == 1
          %small 1 point
        - else
          %small 
            - if user.score == 1
              #{user.score} point
            - else
              #{user.score} points
      %a{ :href => "/user/#{user.username}" }
        %img.img-polaroid{ :src => user.profile_picture }
