.row-fluid
  .span4
    %h2 Colonize your city with beneficial bacteria.

    %p 
      Micro-boundaries is a game where you find a home for five beneficial bacteria by interpreting their needs, exploring your city and taking photos with Instagram.
      %a{:href => 'start'} Get started &raquo;

    - @microbes.each do |microbe|
      .clearfix
      %a.microbe{ :href => "/microbe/#{microbe.tag}", :rel => "popover", :title => microbe.name, :"data-content" => microbe.description, :"data-trigger" => 'hover', :"data-html" => 'true' }
        %img{:src => "/assets/#{microbe.tag}-sm.png", :title => microbe.tag, :alt => microbe.tag}
        %h3
          = microbe.name
        .small{ :class => "badge #{microbe.tag}" } ##{microbe.tag}
  .span8
    #map

- content_for :javascripts do

  :javascript

    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 90; // Calculate the top offset

      $('#map').css('height', (h - offsetTop));
    }).resize();

    LeafletLib.initialize(
      $("#map")[0],
      { },
      [ 41.8781136, -87.66677956445312 ],
      11
    );

    var openMarker = function(marker, photo){
      var popup_timeout;
      var popup_exited = false;

      marker.on('mouseout', function(e){
        popup_exited = true;
        window.clearTimeout(popup_timeout);
        popup_timeout = window.setTimeout(function(){
          if(popup_exited){
            popup_exited = false;
            LeafletLib.map.closePopup();
          }
        }, 500);
      });
      $(".leaflet-popup").on("mouseover", function(e){
        popup_exited = false;
      });
      $(".leaflet-popup").on("mouseout", function(e){
        popup_exited = true;
        window.clearTimeout(popup_timeout);
        popup_timeout = window.setTimeout(function(){
          if(popup_exited){
            popup_exited = false;
            LeafletLib.map.closePopup();
          }
        }, 500);
      });
    };

    var photos = #{@mapped_photos};
    for(var photo in photos){
      // lat/lng location exists. map it
      var m = new L.CircleMarker(
        new L.LatLng( photos[photo].latitude * 1.0, photos[photo].longitude * 1.0 ),
        {
          color: $("."+photos[photo].tag).css("background-color"),
          weight: 3,
          fillOpacity: 0.7,
          opacity: 0.7
        }
      );
      LeafletLib.enableMarker(m, photos[photo]);
      LeafletLib.addMarker( m );
    }

    LeafletLib.fitFeatures();
