.row-fluid
  .span10.offset1

    %h1 Get started
    %hr

    %ol
      %li 
        %h3 Choose a bacteria:
        %ul.inline.unstyled
          - @microbes.each do |microbe|
            %li
              %a.microbe{ :href => "/microbe/#{microbe.tag}"}
                %img{:src => "/assets/#{microbe.tag}-sm.png", :title => microbe.tag, :alt => microbe.tag}
                %br
                .small{ :class => "badge #{microbe.tag} microbe#{microbe.id}" } ##{microbe.tag}
        .clearfix

      %li 
        %h3 Find a place for the bacteria in your city. 
      %li 
        %h3 Take a photo of that place with Instagram and add your bacteria’s #hashtag 
        %p Make sure to <a href='http://help.instagram.com/375744095836923/'>add your photo to the map</a>!
        %p Here are some examples: 
        %ul.thumbnails
          - @recent_photos.each do |photo|
            %li.span2.text-center
              %img.img-polaroid{ :src => photo.image_url }
              %br
              %a{:href => "/microbe/#{photo.tag}"}
                %span{:class => "badge #{photo.tag}"} ##{photo.tag}
      %li 
        %h3 Share the most photos in the best places to get the most points and colonize your city!
        %p 
          Scoring is based on distance from other similar bacteria and number of Instagram likes.
          %a{:href => "/scoring"} Check out how scoring works.

    %br
    %br