.row-fluid
  .span10.offset1

    %h1 Get started
    %hr

    %ol
      %li 
        %h3 Choose a category:
        %ul.inline.unstyled
          - @categories.each do |category|
            %li
              %a.category{ :href => "/category/#{category.tag}"}
                %img{:src => "/assets/#{category.tag}-sm.png", :title => category.tag, :alt => category.tag}
                %br
                .small{ :class => "badge #{category.tag}" } ##{category.tag}
        .clearfix

      %li 
        %h3 Take a photo with Instagram and add the appropriate #hashtag 
        %p Make sure to <a href='http://help.instagram.com/375744095836923/'>add your photo to the map</a>!
        %p Here are some examples: 
        %ul.thumbnails
          - @recent_photos.each do |photo|
            %li.span2.text-center
              %img.img-polaroid{ :src => photo.image_url }
              %br
              %a{:href => "/category/#{photo.tag}"}
                %span{:class => "badge #{photo.tag}"} ##{photo.tag}
      %li
        %h3 Explain scoring
        %p 
          %a{:href => "/scoring"} Check out how scoring works.

    %br
    %br